.imagen-redondeada {
  display: inline;
  border-radius: 50%;
}
.dim-imagen {
  display: flex;
  width: 56%;
  height: auto;
}
.dim-imagen-about {
  background: linear-gradient(to bottom, #1d3145, #294864);
  display: flex;
  width: 60%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #ffffff;
}
.dim-icon {
  display: inline-block;
  width: 50px;
  height: auto;
  margin: 15px;
}

.animacion-imagen {
  position: relative;
  height: 95%;
  width: 85%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 50);
  cursor: pointer;
}
.dim-imagen-proyectos {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}

.efectos-imagen {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  padding-left: 40%;
  text-align: center;
  justify-content: "center";
  align-items: center;
  transition: all 500ms ease-out;
}

.animacion-imagen:hover > .dim-imagen-proyectos {
  transform: scale(1.3);
  transition: all 500ms ease-in-out;
}
.animacion-imagen:hover > .efectos-imagen {
  visibility: visible;
  opacity: 1;

  transition: all 500ms ease-out;
}

.cursor {
  display: inline-block;
  /*background-color: #007bff; /* Cambia este color al que prefieras */
  animation: blink 0.8s infinite;
  font-size: 50px;
}

.cursor.blink {
  animation: blink 0.8s infinite;
}
.dim-imagen-servicios {
  width: 100%;
  border-radius: 10px;
}
.figure-servicios {
  padding: 0;
  position: relative;
  margin: 15px;
}
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.dim-fotoRostro {
  display: flex;
  width: 35%;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 50);
}

.dim-logo {
  width: 125px;
}
.dim-logo-odontostetic {
  display: flex;
  width: 60%;
  height: auto;
  text-align: center;
}
.dim-baner {
  width: 50%;
  height: 50%;
  transition: all 500ms ease-in-out;
}
